<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shendu.springbootshiro.dao.StudentDao" >

  <select id="findByStudentSno" parameterType="String" resultType="student">
        select * from student st where st.sno = #{sno}
  </select>

<select id="findBySno" parameterType="String" resultType="student">
        select * from student st where st.sno = #{sno}
  </select>


</mapper>